#cloud-config
users:
  - name: mbernard
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
    ssh_authorized_keys:
      - __SSH_PUBLIC_KEY__

chpasswd:
  expire: false

package_update: true
packages:
  - git
  - qemu-system-x86
  - qemu-utils
  - libvirt-daemon-system
  - libvirt-clients
  - bridge-utils
  - virtinst
  - nfs-kernel-server
  - vagrant
  - vagrant-libvirt

runcmd:
  - growpart /dev/vda 1 || true
  - resize2fs /dev/vda1
  - usermod -aG libvirt mbernard
  - usermod -aG kvm mbernard
